/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  
  /* Image styling */
  .slideshow-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    transition: opacity 1s ease-in-out;
    border-radius: 25px;
  }
  